body{
    background-image: url("https://llyasa.com/wp-content/uploads/2016/12/tire-desktop-wallpaper-50155-51842-hd-wallpapers.jpg");
}

#contenedor{
    border-radius: 15px ;
    margin: 0 auto;
    background-color: gray;
    width: 65%;
    height: 350px;

}

h1{
    padding-left: 45%;
}
#cabecera{
    width: 100%;
    border-bottom: 1px solid black;
}
#menu1{
    margin-top: 10px;
    float: left;
    width: 50%;
    height: 200px;
}
#menu2{
    margin-top: 10px;
    float: right;
    width: 50%;
    height: 200px;

}
#pie{
    text-align: center;
}
